/* --------------- СКИДАННЯ СТИЛІВ------------------ */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------------- ЗМІННІ------------------ */

:root {
  /* --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-bg-color: #2e2f42;
    --dark-bg-70-color: rgba(46, 47, 66, 0.7);
    --dark-bg-40-color: rgba(46, 47, 66, 0.4);
    --succes-100-color: #31d0aa;
    --succes-75-color: rgba(49, 208, 170, 0.75);
    --succes-50-color: rgba(49, 208, 170, 0.5);
    --succes-10-color: rgba(49, 208, 170, 0.1); */
  --main-txt-color: #434455;
  --overlay-color: #8e8f99;
   /*  --accent-color: #e7e9fc;
    --light-bg-color: #f4f4fd; */
  --primary-bg-color: #e5e5e5;
  --white-color: #ffffff;
  /* --modal-background-color: #fcfcfc; */

  /* Animation */
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

/* ---------------------- ОСНОВНІ СТИЛІ ------------- */

body {
  font-family: Montserrat Alternates, sans-serif;
  color: var(--main-txt-color);
  background-color: var(--primary-bg-color);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 0px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 0px;
  }
}

/* ---------------------- СЕКЦІЯ ХЕДЕР(ШАПКА ПРОФІЛЮ) ------------- */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.73);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.logo {
  font-size: 34px;
}
.navigation-list {
  display: none;
}
.contacts {
  display: none;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-contacts {
  fill: var(--main-txt-color);
}

/* ---------------------- МОБІЛЬНЕ МЕНЮ ------------- */

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  align-items: center;
}
.mobile-menu-icon{
  fill: var(--main-txt-color);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 80px 40px 40px 40px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-btn-close {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: transparent;
}
.modal-close-btn-icon {
  fill: var(--main-txt-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mobile-menu-item {
  font-size: 36px;
}

.mobile-menu-item:nth-child(-n + 2) {
  margin-bottom: 40px;
}
.mob-contacts {
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 1440px) {
  .mobile-menu-btn {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 53px;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .contacts {
    display: flex;
    gap: 20px;
    padding: 0 15px;
  }

  .links {
    font-size: 18px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .links.current {
    text-shadow: 1px 1px 2px rgb(129, 127, 127), 0 0 1em rgb(75, 75, 75), 0 0 0.2em rgb(67, 67, 67);
  }

  .links:hover,
  .links:focus {
    transform: scale(0.5);
  }
}

/* ---------------------- СЕКЦІЯ ЗАГОЛОВОК ------------- */

.hero {
  color: var(--primary-bg-color);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/bg-image-mob.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(100%); */
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}
.title-wrap {
  height: 550px;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-items: end;
  padding: 15px;
}

.hero-title {
  font-family: Alumni Sans Pinstripe, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.07;
  color: var(--white-color);
  /* width: 494px; */
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero{
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/bg-image-tab.jpg);
  }
  .hero-title {
    font-size: 56px;
  }
  .hero-subtitle {
    font-size: 18px;
    margin: 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero{
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/bg-image-desk.jpg);
  }
  .hero-title {
    font-size: 60px;
  }
}


.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* ---------------------- СТВОРЕНО НАМИ ------------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-bg-color);
  margin: 0px 0px 72px 0px;
  padding: 0px;
}
.tasks {
  padding-top: 80px;
  padding-bottom: 40px;
}
.task-wrap{
  margin: 0 auto;
}
.tasks-list {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------------- НАША ЛОКАЦІЯ ------------- */

.loc-section{
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .loc-section {
          padding-top: 30px;
          padding-bottom: 30px;
      }
}

@media screen and (min-width: 1440px) {
  .loc-section {
          padding-top: 40px;
      }
}

@media screen and (min-width: 1440px) {
  .loc-container {
      display: block;
      margin: 0 auto;
      text-align: center;
      /* flex-wrap: wrap;
      align-items: flex-start; */
  }
}

.loc-title{
  font-weight: 500;
  font-size: 40px;
  line-height: calc(40 / 40);
  letter-spacing: -0.02em;
  color: #121212;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .loc-title {
      font-size: 68px;
      margin-bottom: 40px;
      }
}

@media screen and (min-width: 1440px) {
  .loc-title {
      margin-bottom: 40px;
  }
}


.map{
  /* width: 100%; */
  max-width: 335px;
  max-height: 384px;
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .map {
      max-width: 704px;
      max-height: 576px;
      width: 704px;
      height: 576px;
      margin-bottom: 32px;
      }
}

@media screen and (min-width: 1440px) {
  .map {
      max-width: 640px;
      max-height: 524px;
      width: 640px;
      height: 524px;
      margin: 0 32px;
 
      order: -1;
      }
}





/* ---------------------- ГАЛЕРЕЯ ------------- */


.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 120px 40px 10px 40px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------- FOOTER ------------- */

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/footer-bg2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.footer-box{
  display: flex;
  justify-content: space-evenly;
}

.footer-txt{
  margin-top: 25px;
  font-size: 18px;
  width: 260px;
  color: var(--white-color);
}

.logof{
  color: var(--white-color);
  font-size: 46px;
}
.fottitle{
  font-size: 24px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 12px;
}

.loc-item{
margin-bottom: 15px;
}
.loc-txt{
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 28px;
}

/* 
@media screen and (min-width: 768px) {
.loc-txt {
      margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .loc-adr-wrapper {
      display: flex;
      margin-left: 70px;
  }
} */



.loc-link{
  font-size: 14px;
  color: var(--white-color);
  padding: 2px 0;
}

